.wrapper {
  padding: 20px;
  background-color: #0E0E52;
}

h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 3em;
  text-transform: lowercase;
  color: #DA70D6;
}

h2 {
  font-family: 'Yeseva One', cursive;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

h2 span {
  color: #FF91A4;
}

h3 {
  color: white;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  font-size: 1.3rem;
  text-transform: uppercase;
  list-style: none;
  font-weight: bold;
}

a {
  color: #40E0D0;
  text-decoration: none;
}

a:hover {
  color: #FFFF47;
  text-decoration: overline;
}