.wrapper {
  padding: 20px;
  background-color: #0E0E52;
}

h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 3em;
  text-transform: lowercase;
  color: #DA70D6;
}

h2 {
  font-family: 'Yeseva One', cursive;
  color: white;
  font-size: 2.5rem;
}

li {
  font-size: 1rem;
  text-transform: uppercase;
  list-style: none;
}

a {
  color: #40E0D0;
}